<h3>Просмотр с камеры &quot;<%= @camcorder.name %>&quot;</h3>
<div>
	<img src="<%= Settings.motion_server %>:<%= @camcorder.stream_port %>">
</div>

<div class="form-actions">
  <%= link_to "Назад к живому просмотру", home_live_path, :class => "btn" %>
</div>